.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.App button[class*='muneIcon']{
  display: none;
}
[class*="App-list"] a> ul{
  padding-left: 10px;
}
[class*="App-root"] [class*="paper"]{
  align-items: center;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media (max-width: 660px) {
  div[class*='rootButtons']{
    display: none;
  }

  .App button[class*='muneIcon']{
    display: inline-flex;
  }

}